body{
    background-color: rgb(70, 70, 190);
}

.titulo{
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

.menu{
 list-style: none;
 display: flex;
 flex-direction: row;
 gap: 10px;
 margin-right: 20px;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.menu li a:hover{
   color: rgb(39, 223, 39);
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


